@charset "utf-8";
@import "normalize";

* { box-sizing: border-box; }

body {
  text-align: left;
  font-family: "Source Sans Pro", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 18px;
  background-color: #EDF4F8;
}

p:first-child {
  margin-top: 0;
}

strong {
  font-weight: 600;
  color: #333;
}

a {
  color: #2c9ebd;
  font-weight: 600;
  &:hover, &:active {
    color: #1b657a;
  }
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  margin-left: 5%;
}
 
.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}
  
.column.two-thirds {
  width: 65%;
}
  
.column.half {
  width: 47.5%;
}
 
.column.one-third {
  width: 30%;
}
 
.column.one-fourth {
  width: 21.25%;
}

.column.one-sixth {
  width: 12.5%;
}
.column.five-sixth {
  width: 82.5%;
}

.column.three-fourths {
  width: 73.75%;
}

section#intro {
  background-color: white;
  padding: 2em 0 1em 0;
  font-size: 2em;
  line-height: 1.3em;
  img.avatar {
    border-radius: 42px;
    margin-top: 5px;
  }

  span.small {
    display: block;
    font-size: 10px;
    color: #555;
  }
}

section#about {
  min-height: 400px;
  padding: 4em 0;

  #gigs {
    margin-top: 10px;
    img {
      margin-top: 5px;
    }
  }
}


#photography {
  min-height: 1000px;
  background: transparent url('/images/background.jpg');
  background-size: cover;
}


ul.plain {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    margin-bottom: 1px;
  }
  a {
  }
}

ul.social {
}

ul.gigs {
  margin-top: 20px;
}


@media screen and (max-width: 640px) {
  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth,
  .column.three-fourths,
  .column.one-sixth,
  .column.five-sixth {
    float: none;
    margin: 0;
    width: 100%;
  }

  #intro, #about {
    padding: 1em 0 !important;
  }


  #photography {
    min-height: 300px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  #intro {
    padding: 3em 0 !important;
  }

  #photography {
    min-height: 500px;
  }
}

@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}