---
title: Thilo Rusche
---

%section#intro
  .container
    %img.avatar(src="images/avatar.png" width=85 height=85 alt="Thilo Rusche")

    %p
      Professional <strong>web developer</strong> and amateur <strong>landscape photographer</strong> living in Dublin, Ireland.

      %span.small No longer a whitewater kayaker :-(

%section#about
  .container
    .row
      .column.two-thirds

        %p
          Hi, I'm Thilo. I have been building web applications for a living for almost two decades. I co-founded
          LegitScript, where I currently serve as Chief Technology Officer, and Travel Mobile, where I run all tech as DevOpsCodeMonkey.

        %p
          My entire career has been about startups. I'm always interested in new ideas about how to
          use the Internet for world domination or building a better mousetrap. If you have one and could use some
          tech advice, I'd love to hear from you.

        %p
          Originally from Germany, I spent 10 years in the United States before settling in Dublin, Ireland, where I live my
          wife and daughter. 


      .column.one-third

        %ul.plain.social
          %li
            %a(href="https://twitter.com/thilorusche") twitter
          %li
            %a(href="https://github.com/trusche") github
          %li
            %a(href="https://stackoverflow.com/users/157752/thilo") stack overflow
          %li
            %a(href="https://news.ycombinator.com/user?id=trusche") hacker news
          %li
            %a(href="https://flickr.com/thilo") flickr

        %ul.plain.gigs
          %li
            %a(href="https://www.legitscript.com")
              %img(src="images/legitscript.png" alt="LegitScript" width="154" height="40")
          %li
            %a(href="https://www.travelmobile.biz")
              %img(src="images/travelmobile.png" alt="Travel Mobile" width="154" height="48")

%section#photography
  .container